<h1><%= @recipe.title %></h1>
<p>By: <%= @recipe.author %></p>
<h3>Prep Time: <%=@recipe.prep_time %></h3>
<h2>Ingredients:</h2>
<ul>
  <% @recipe.ingredient_list.each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>
<h2>Directions:</h2>
<p><%= @recipe.directions %></p>
