<h1><%= @recipe.title %></h1>
<p>By: <%= @recipe.author %></p>
<p>Created: <%= @recipe.friendly_created_at %>, Updated: <%= @recipe.friendly_updated_at %></p>
<img class="show-images" src="<%= @recipe.photo_url %>">
<h3>Prep Time: <%=@recipe.prep_time %></h3>
<h2>Ingredients:</h2>
<ul>
  <% @recipe.ingredient_list.each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>
<h2>Directions:</h2>
<ol>
  <% @recipe.direction_list.each do |direction| %>
    <li><%= direction %></li>
  <% end %>
</ol>
