<h1><%= @recipe.title %></h1>
<p>By: <%= @recipe.author %></p>
<h3>Prep Time: <%=@recipe.prep_time %></h3>
<h2>Ingredients:</h2>
<p><%= @recipe.ingredients %></p>
<h2>Directions:</h2>
<p><%= @recipe.directions %></p>
